<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="submitForm()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input name="firstName" type="text" placeholder="First Name" [(ngModel)]="firstName"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input name="lastName" type="text" placeholder="Last Name" [(ngModel)]="lastName"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input name="email" type="email" placeholder="Email" [(ngModel)]="email"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input name="password" type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button type="submit">Register</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
